<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bracket.portproxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/Chevalier/bin/launch-portproxy.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Chevalier/portproxy.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Chevalier/portproxy.log</string>
</dict>
</plist>
