<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.bracket.portproxy</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Library/Application Support/Chevalier/bin/portproxy</string>
    <string>--server</string>
    <string>--rpc-bind-address</string>
    <string>127.0.0.1</string>
    <string>--rpc-port</string>
    <string>13338</string>
    <string>--server-addr</string>
    <string>127.0.0.1:13337</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>CHEVALIER_PORTPROXY_AUTH_TOKEN_FILE</key>
    <string>/Library/Application Support/Chevalier/etc/portproxy.token</string>
    <key>CHEVALIER_PORTPROXY_EXEC_USER</key>
    <string>openbracket</string>
    <key>HOME</key>
    <string>/Users/openbracket</string>
    <key>LOGNAME</key>
    <string>openbracket</string>
    <key>USER</key>
    <string>openbracket</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/Library/Logs/Chevalier/portproxy.log</string>
  <key>StandardErrorPath</key>
  <string>/Library/Logs/Chevalier/portproxy.log</string>
</dict>
</plist>
